/*
 * 画面全体に関する設定
 */
body {
    font: 14px "Lucida Grande", Meiryo, Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

div {
    margin: 20px 0px;
}

.row {
    margin: 20px;
}

/*
 * ボタンの共通設定
 */
.common-button {

}

/*
 * トップ画面（index.hbs）に関する設定
 */
.index-user_name {

}

.index-user_name_text {
    width: 200px;
}

.index-enter {

}

.index-enter_button {

}

/*
 * チャットルーム画面（room.hbs）に関する設定
 */
.room-login_user {

 }

.room-message {

}

.room-message_textarea {
    width: 500px;
}

.room-submit {

}

.room-publish_button {

}

.room-memo_button {

}

.room-thread {
    
}

#publish {
    max-width:500px; /*最大幅は任意*/
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 17px 13px 15px 18px;
    border-radius: 12px;
    background: #99dddd;/*色は任意*/
    box-sizing:border-box;
    margin:0 !important;
    line-height:1.5;
}

#memo {
    max-width:500px; /*最大幅は任意*/
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 17px 13px 15px 18px;
    border-radius: 12px;
    background: #d299dd;/*色は任意*/
    box-sizing:border-box;
    margin:0 !important;
    line-height:1.5;
}

#exit {
    max-width:500px; /*最大幅は任意*/
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 17px 13px 15px 18px;
    border-radius: 12px;
    background: #dbdd99;/*色は任意*/
    box-sizing:border-box;
    margin:0 !important;
    line-height:1.5;
}

#enter {
    max-width:500px; /*最大幅は任意*/
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 17px 13px 15px 18px;
    border-radius: 12px;
    background: #ddab99;/*色は任意*/
    box-sizing:border-box;
    margin:0 !important;
    line-height:1.5;
}



.room-exit {

}

.room-exit_button {

}
